* {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #2c3e50;
  line-height: 1.8;
  box-sizing: border-box;
}

body {
}

p {
  margin: 1rem 0;
}

.hide {
  display: none;
}

img {
  width: 100%;
}

.githubIcon {
  display: inline-block;
  width: 1rem;
}

label {
  font-size: 0.8rem;
}

input,
textarea {
  width: 100%;
  border: 0;
  border: 1px solid #eee;
  border-radius: 2px;
}

.required {
  color: #bb2020;
}

.orange {
  color: #e67e22;
}

a {
  text-decoration: none;
  color: #2980b9;
}

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem;
  transform: translateY(-100vh);
  transition: 0.3s ease;
}

.nav.open {
  box-shadow: 0px 3px 3px 3px #eee;
  transform: translateY(0);
}

nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: 0.2s;
}

#my-name {
  font-size: 1.3rem;
  font-weight: bold;
}

#Burger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

#Burger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #34495e;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#Burger span:first-child {
  transform-origin: 0% 0%;
}

#Burger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#Burger.open span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -3px);
  background: #232323;
}

/*
* But let's hide the middle one.
*/
#Burger.open span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#Burger.open span:nth-last-child(1) {
  transform: rotate(-45deg) translate(0, -3px);
}

.main {
  width: 96%;
  margin: 1rem auto;
}

header {
  margin-bottom: 1rem;
}

header h1 {
  color: #e67e22;
  font-size: 1rem;
}

header .my-name {
  font-weight: bold;
  margin-bottom: 1rem;
}
header .technos {
  font-size: 0.8rem;
  color: #2980b9;
}

footer {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 2rem;
}

.purple {
  color: purple;
}

ul {
  margin-left: 1rem;
  list-style: none;
}

.bold {
  font-weight: bold;
}

.green,
.green * {
  color: #27ae60;
}

.contactez-moi a {
  display: inline-block;
  padding: 0.4rem;
  background: #27ae60;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 2px green;
  margin: 1rem;
}

#submit {
  display: inline-block;
  padding: 0.4rem;
  background: #27ae60;
  color: #fff;
  border-radius: 3px;
}

.txt-right {
  text-align: right;
}

div.date {
  color: #e67e22;
  font-weight: bold;
}

div.bloc {
  margin: 1rem 0;
}


#contact-form-success,
#contact-form-success * {
  text-align: center;
  color: #0b670b;
}

#contact-form-success {
  border: 1px solid #afc9af;
  margin: 1rem 0;
  padding: 0.5rem;
  background: #cae8ca;
  color: #0b670b;
  border-radius: 2px;  
}

@media screen and (min-width: 1000px) {
  .nav {
    position: initial;
    transform: translateY(0);
    padding: 0;
  }

  nav {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #e67e22;
  }

  nav a {
    width: 100%;
    color: #2980b9;
    text-align: center;
  }

  nav a:hover,
  nav a.active {
    background: #2980b9;
    color: white;
  }

  nav .link {
    width: 20%;
  }
  .nav #my-name {
    display: none;
  }
  .main {
    width: 50%;
    margin: 0 auto;
  }
  #Burger {
    display: none;
  }
}

